<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EjercicioClaseDni/src/utilidades/MainEvaluar_Dni.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="utilidades.MainEvaluar_Dni"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EjercicioClaseDni"/>
</launchConfiguration>
