<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.furious4.OXO/src/org/furious4/oxo/logica/ProgramaPrincipal_Oxo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.furious4.oxo.logica.ProgramaPrincipal_Oxo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.furious4.OXO"/>
</launchConfiguration>
